h1{
    background-color: burlywood;
    color: blueviolet;
    text-align: center;
}

p{
background-color: chocolate;
color: white;
font-size: 30px;
font-family: 'Times New Roman', Times, serif;
text-align: left ;

}

img{
border: 4px solid blue;


   


}